<div class="nav">
			<div class="nav-header">
				<div class="nav-title">
					<a class="gradient-underline" href="{{ site.url }}">{{ site.title }}</a>
				</div>
			</div>
			<div class="nav-btn">
				<label for="nav-check">
					<span></span>
					<span></span>
					<span></span>
				</label>
			</div>
			<input type="checkbox" id="nav-check">
			<div class="nav-links">
				{% for link in site.links %}
				<a href="{{ link.url | prepend:site.url }}">{{ link.name }}</a>
				{% endfor %}
			</div>
		</div>